# Flutter/Dart global
bin/
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.dill
*.pdf
*.log

# Symboles de debug (très lourds)
**/*.pdb
**/*.exe

# Android spécifique
**/android/**/generated/
**/android/.gradle/
**/android/local.properties

# iOS spécifique
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh